<configuration>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/awspe.log</file>
		<encoder>
			<Pattern>%date %level [%thread] %logger %msg%n</Pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/logfile.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%date %level [%thread] %logger %msg%n</Pattern>
		</encoder>
	</appender>
	
	<logger name="javax.net" level="error" />
	<logger name="javax.management" level="error" />
	<logger name="org.springframework" level="error" />
	<logger name="com.punit" level="debug" />
	<logger name="org.apache.tomcat" level="error" />

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>