<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles.css">
	<title>MuhPe - Admin</title>
</head>

<body>
	<div class="container">
		<img src="aws.png" alt="Logo" width="200" height="200">
		<h2>MuhPe Admin Page : Register human face</h2>

			<form id="form1" enctype="multipart/form-data" method="post" action="Upload.aspx">
				<div>
					<br>
					<br>

					<input type="file" name="imageFileSelected" id="imageFileSelected" onchange="fileSelected();"
						accept="image/*" capture="camera" />
				</div>
				<br><br>

				<div id="details"></div>

				<div>
					<input type="text" id="imageID" name="imageID" placeholder="Enter UPI ID or Phone No">
					<input type="button" onclick="addImage()" value="Index Face">
				</div><br>
				<br>


				<div id="progress"></div>
				
				<br><br>
				
				<p>Click the link below to redirect to scan and pay</p>
				 <a href="/">	MuhPe App</a>
				   
			</form>
	</div>

	<script src="script.js"></script>
</body>

</html>