<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles1.css">
	<title>AWSPe - Admin</title>
</head>

<header>
    <div class="container">		
		<div class="logo">
		                <h1>AWSPe : Pay using face Scan  </h1>
		            </div>
        <nav>
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="admin">Admin</a></li>
                <li><a href="contact">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
	
	<section class="home">
	    <div >
	        <h1>Welcome to AWS Fintech Demo Portal !!</h1>
	    </div>
	</section>
		<div class="container1">
			<h2>Register human face</h2>

			<img src="face1.png" alt="Logo" width="400" height="400">

			<form id="form1" enctype="multipart/form-data" method="post" action="Upload.aspx">
				<div>
					<br>
					<br>

					<label for="imageFileSelected" class="custom-file-upload">
												                       Scan Face to register associalted URL
												                   </label>
					<input type="file" name="imageFileSelected" id="imageFileSelected" onchange="fileSelected();"
						accept="image/*" capture="camera" />
				</div>
				<br><br>

				<div id="details"></div>

				<div>
				<input type="text" id="imageID" name="imageID" placeholder="Enter UPI ID or URL to redirect">
				<input type="text" id="imageEmail" name="imageEmail" placeholder="Email ID (Optional) ">
				<input type="text" id="imagePhone" name="imagePhone" placeholder="Phone No (Optional)">
				<br>
				<br>
				<br>

					<input type="button" onclick="registerFace()" value="Register Face">
				</div><br>
				<br>


				<div id="progress"></div>
				
				<br><br>
			
				   
			</form>
			</div>
	<script src="script.js"></script>
</body>

<footer>
    <div class="container">
        <p> 2024 Amazon Web Services. All rights reserved.</p>
		<a href="https://aws.amazon.com/what-is-cloud-computing"><img src="https://d0.awsstatic.com/logos/powered-by-aws-white.png" alt="Powered by AWS Cloud Computing"></a>
    </div>
</footer>

</html>