<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles.css">
	<title>MuhPe</title>
</head>

<body>

	<div class="container">
		<img src="aws.png" alt="Logo" width="200" height="200">
		<h2>MuhPe: Pay using face Scan</h2>
			<div class="section-container">
				<div class="imgBx">
					<img src="muhPay.jpg" alt="Logo" width="250" height="400">
				</div>

				<div class="mb-5">
					<form id="form1" enctype="multipart/form-data" method="post" action="Upload.aspx">
						<div>
							<input type="file" name="imageFileSelected" id="imageFileSelected"
								onchange="searchSelectedFile();" accept="image/*" capture="camera" />
						</div>
						<br>
						<div id="details"></div>

						<br>
						<div id="loading-overlay" class="disabled">
							<div class="loader"></div>
						</div>
						
						<p>Detected device: <span id="deviceType"></span></p>

				</div>
				</form>
				<p>To register your face with UPI :  click below</p>
				 <a href="/a">Admin Page</a>

			</div>
	</div>
	

	</div>

	<script src="script.js"></script>
</body>

</html>