<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>FacePay: Take or select photo(s) and upload to Pay</title>
</head>

<body>
  <div class="container">
    <img src="logo.png" alt="Logo" width="200" height="200">
    <h2>FacePay: Pay using faceID</h2>

    <form id="form1" enctype="multipart/form-data" method="post" action="Upload.aspx">
      <div>
        <label for="imageFileSelected">Take or Select photo(s)</label><br>
        <input type="file" name="imageFileSelected" id="imageFileSelected" onchange="fileSelected();" accept="image/*"
          capture="camera" />
      </div>
<br><br>

      <div id="details"></div>

      <div>
        <input type="text" id="imageID" name="imageID" placeholder="Image ID">
        <input type="button" onclick="addImage()" value="Index Image">
      </div><br>
<br>


      <div id="progress"></div>

      <div class="action-buttons">
        <input type="button" onclick="searchFaceId()" value="Search and Pay">
      </div>
    </form>
  </div>

  <script src="script.js"></script>
</body>

</html>
